<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <style>
      .jstitle {
        font-size: 100px;
      }
    </style>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="container">
      <center class="jstitle h1">Presidential Mock Election PH</center>
      <br />
      <br />
      <a href="./lists">
        <button type="button" class="btn btn-primary btn-lg btn-block">
          VOTE NOW!
        </button>
      </a>
    </main>

    <%- include('../partials/script'); %>
  </body>
</html>
